#container {

    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 10px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 250px 0 250px;
}

.A {
    background: #246abb;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 50px 250px 10px 250px;

}

.B {
    background: #18467b;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
}

.C {
    background: #18467b;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
}

.D {
    background: #18467b;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
}

.E {
    background: #246abb;
    box-sizing: border-box;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 0 250px 0 250px;

}