
.wrap {
    background: white;
    box-sizing: border-box;
    border: 1px;
    border-radius: 10px;
    padding: 20px 400px 20px 400px;
}

.A {
    background: #246abb;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.B {
    background: #246abb;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.C {
    background: #246abb;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.D {
    background: #18467b;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.E {
    background: #18467b;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.F {
    background: #18467b;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}