.target1 {

    background: #818181;
    box-sizing: border-box;
    height: 200px;
    width: 400px;
    margin: 100px 0px 20px 5px;
    padding: 10px 10px 10px 10px;
    box-shadow: #d5b792 -30px -30px 30px 0px;
}

.target2 {

    box-sizing: border-box;
    border-left: 4px solid red;
    margin: 10px 0px 20px 5px;
    padding: 1px 0px 1px 15px;

}