.target1 {

    background: #8a2928;

    box-sizing: border-box;
    text-align: center;
    margin: 20px 0px 20px 0px;


}

.target2 {

    background: #c0c0c0;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;

}

.target3 {

    background: #6496ec;
    height: 70px;
    box-sizing: border-box;
    padding: 15px 0px 15px 0px;
}

.target4 {

    background: #6cba68;
    height: 120px;
    width: 120px;
}

.target5 {

    background: #8987ac;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}