
.wrap {
    background: white;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

#container1, #container3 {
    display: flex;
    column-gap: 5px;
    justify-content: flex-start;
}

.A, .B, .C, .D, .E, .F {
    background: lightgray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.A, .B, .C, .D, .E {
    height: 100px;
}

.C, .D, .E, .F {
    width: 100%;
}

.A, .B {
    margin: 0 0 5px 0;
}

.B {
    width: 900px;
}

@media screen and (max-width: 992px) {

    .wrap {
        padding: 10px 10px 10px 10px;
    }

    .A {
height: 20%;
    }

    .B, #container1 {
      width: 100%;
    }

    .C, .D, .E  {
        width: 20%;
    }


    #container1 {
        flex-direction: column;
        row-gap: 5px;
    }

    #container3 {
        justify-content: space-between;
        height: 25%;
    }

}